html {
    background-image: url(img/IMG_2771.jpg);
    background-repeat: cover;
    background-size: cover;
    background-size: 1500px;
}
h1 {
    color:black;
}
p {
    color: lawngreen;
    font-size: xx-large;
}
img.a {
    width: 500px;
    height: 500px;
}
